@charset "utf-8";
/* CSS Document */

/* Game formatting */
#game{
	width:400px;height:400px;
	margin:0 auto;
	background-image:url(graphics/letsplay.png)}
	
#GameBG{
	width:auto; height:400px; 
	text-align:center;
	float:inherit;
	margin:auto;
	background-color:#3C6;}
	
#startRound{
	width:400px;
	height:400px;
	float:left;
	background-color:#C96;
	z-index:2;
	text-align:center;
	}

#gameover{
	z-index:1000;
	position:absolute;
	height:100%;
	width:100%; 
	background-color:#F90;
	top:0px;
	bottom:0px;
	margin:auto;
	text-align:center;
}
#gamestart{
	z-index:1000;
	position:absolute;
	height:100%;
	width:100%; 
	background-color:#F9F;
	top:0px;
	bottom:0px;
	margin:auto;
	text-align:center;
}
	
/* Condition graphics*/
#winner{
	width:400px;height:400px;
	background-image:url(graphics/winning.jpg);
	margin:0 auto;}
	
#loser{width:400px;height:400px;
	   background-image:url(graphics/loser.jpg);
	   margin:0 auto;
	   }
/*#wrapper {
    	min-height: 100%;
    	height:     auto !important;
    	height:     100%;
    	margin:     0 auto -44px;*/